<form nz-form [formGroup]="validateForm">
    
  <nz-form-item>
      <nz-form-label [nzSpan]="5" nzFor="banco" nzRequired>Sistema do banco</nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="Selecione um banco!">
        <nz-select
          id="banco"
          formControlName="banco"
          [nzPlaceHolder]="placeholderVar"
          (ngModelChange)=changePlaceholder($event)
        >
        <nz-option nzValue="mssqlserver" nzLabel="MS SQL Server"></nz-option>
        <nz-option nzValue="oracle" nzLabel="Oracle"></nz-option>
        <nz-option nzValue="postgresql" nzLabel="PostgreSQL"></nz-option>
        <nz-option nzValue="mysql" nzLabel="MySQL"></nz-option>

        </nz-select>
      </nz-form-control>
    </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired nzFor="email">Url JBDC</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Insira a Url!">
      <input nz-input type="text" formControlName="url" id="url" [placeholder]="placeholderVar"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
      <nz-form-label [nzSpan]="5" nzRequired nzFor="url">Servidor</nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="Insira o servidor!">
        <input id="servidor" type="text" nz-input formControlName="servidor"/>
      </nz-form-control>
    </nz-form-item>

  <nz-form-item>
      <nz-form-label [nzSpan]="5" nzRequired nzFor="url">Porta</nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="Insira a porta!">
        <input id="porta" type="text" nz-input formControlName="porta"/>
      </nz-form-control>
  </nz-form-item>

  <nz-form-item>
      <nz-form-label [nzSpan]="5" nzRequired nzFor="url">Nome da base</nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="Insira o nome da base!">
        <input id="base" type="text" nz-input formControlName="base"/>
      </nz-form-control>
  </nz-form-item>

  <nz-form-item>
      <nz-form-label [nzSpan]="5" nzRequired nzFor="url">Usuário</nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="Insira o usuário!">
        <input id="usuario" type="text" nz-input formControlName="usuario"/>
      </nz-form-control>
  </nz-form-item>

  <nz-form-item>
      <nz-form-label [nzSpan]="5" nzFor="url">Senha</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input id="senha" type="text" nz-input formControlName="senha"/>
      </nz-form-control>
  </nz-form-item>

  <nz-form-item>
      <nz-form-label [nzSpan]="5" nzFor="url">Nome da classe do server</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input id="classeServer" type="text" nz-input formControlName="classeServer"/>
      </nz-form-control>
  </nz-form-item>

 
  
    
      
    

    
      
      <!--<nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nickname" nzRequired>
          <span>
            Nickname
            <i
              nz-icon
              nz-tooltip
              nzTitle="Como sera visto pelos outros"
              nzType="question-circle"
              nzTheme="outline"
            ></i>
          </span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor coloque seu nickname!">
          <input nz-input id="nickname" formControlName="nickname" />
        </nz-form-control>
      </nz-form-item>-->
    

</form>